!------------------
! urxvt terminal
!------------------
! URxvt.font: xft:FuraCode Nerd Font Mono:size=12,style=Bold \
! 			xft:Fira Mono for Powerline:size=12, \
! 			xft:FreeSerif:style=Regular, \
! 			xft:unifont:style=Medium:antialias=false
URxvt.font: xft:SauceCodePro Nerd Font:size=12,style=Regular,Medium \
			xft:FreeSerif:style=Regular, \
			xft:unifont:style=Medium:antialias=false
URxvt.cursorBlink: true

!------------------
! xterm terminal
!------------------
xterm*faceName: FuraCode Nerd Font Mono
xterm*faceSize: 12

!-------------------
! Clickable URLs
!-------------------
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!-------------------
! Theme
!-------------------
*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

*.color0:       #0a0f14
*.color8:       #10151b

*.color1:       #c33027
*.color9:       #d26939

*.color2:       #26a98b
*.color10:      #081f2d

*.color3:       #edb54b
*.color11:      #245361

*.color4:       #195465
*.color12:      #093748

*.color5:       #4e5165
*.color13:      #888ba5

*.color6:       #33859d
*.color14:      #599caa

*.color7:       #98d1ce
*.color15:      #d3ebe9

! Scrollbar
URxvt.scrollBar: false

!------------------
! rofi
!------------------
rofi.color-enabled: true
rofi.color-window: argb:aaffdbc5, #c8293f, argb:3a1e2529
rofi.color-normal: argb:00273238, #000000, argb:3a273238, #bbc8293f, #000000
rofi.color-active: argb:00273238, #80cbc4, argb:3a273238, #bbc8293f, #80cbc4
rofi.color-urgent: argb:00273238, #ff1844, argb:3a273238, #bbc8293f, #ff1844
rofi.font: Source Sans Pro Regular 14
rofi.width: 50
rofi.padding: 20
rofi.opacity: 90
rofi.bw: 2px
rofi.lines: 10
rofi.hide-scrollbar: true

!------------------
! i3 colors
!------------------
client.focused:          #C8293F #C8293F #FFFFFF #FFDBC5   #C8293F
client.focused_inactive: #333333 #5F676A #FFFFFF #484E50   #5F676A
client.unfocused:        #333333 #222222 #888888 #292D2E   #222222
client.urgent:           #2F343A #900000 #FFFFFF #900000   #900000
client.placeholder:      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C
client.background:       #FFFFFF
